body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #e9eaed;
    margin-left: 200px !important;
}

h2, h3, p {
    color: #4e5665;
}

.ui.sidebar {
    width: 200px !important;
}

.ui.page.grid.container {
    position: relative;
    width: auto;
    margin-right: 28px;
    margin-left: 20px;
    padding: 0;
}

.ui.segment {
    border-radius: 0;
}

#doccontent {
    font-size: 12px;
}
